RewriteEngine On

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.beyazosgb\.tr [NC]
RewriteRule ^(.*)$ https://beyazosgb.tr/$1 [L,R=301]
